body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 600px;
    border: 5px solid rgb(88, 88, 88);
    border-radius: 10px;
}

#display {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#display-first-row {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 30px;
}

#display-second-row {
    flex-grow: 1;
    align-self: flex-end;
    font-size: 40px;
}

#clear-delete-row, /* grouping selector */
#first-row,
#second-row,
#third-row,
#last-row {
    display: flex;
    flex: 1;
}

button {
    display: flex;
    flex: 1;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    flex: 1;
    
}

.button.last-button { /* chaining selector */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

#last-row #equal-button { /* descendant combinator */
    display: flex;
    flex: 2;
}

.number {
    font-size: 35px;
}