body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    background-color: rgb(192, 255, 236);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 600px;
    border: 25px solid rgb(189, 88, 54);
    border-radius: 20px;
}

#display {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 20px solid rgb(189, 88, 54);
    padding: 15px;
    gap: 15px;
}

#display-first-row {
    display: flex;
    flex: 1;
    align-self: flex-end;
    font-size: 30px;
    align-items: center;
    /* word-wrap: break-word; = overfloaw-wrap: break-word; does not break the word in the middle */
    word-break: break-all; /* wraps the number (word) on the next line when it is too long for the display */
}

#display-second-row {
    display: flex;
    flex: 1;
    align-self: flex-end;
    font-size: 40px;
    /* overflow-wrap: break-word; */
    word-break: break-all;
}

#clear-delete-row, /* grouping selector */
#first-row,
#second-row,
#third-row,
#last-row {
    display: flex;
    flex: 1;
}

button {
    display: flex;
    flex: 1;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 116, 12);
    border-radius: 50px;
    border: 5px solid rgb(192, 255, 236);
}

button:focus {
    outline: none;
}

button:hover,
#clear:hover,
#divide:hover,
#multiply:hover,
#delete:hover,
#subtract:hover,
#add:hover,
#last-row #equal-button:hover {
    background-color: #06794f;
    color: rgb(25, 200, 174);
    transition: 0.5s;
}

.button.clear-delete, /* chaining selector */
.last-button { 
    display: flex;
    flex-direction: column;
    flex: 1.3;
}

.right-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#last-row #equal-button { /* descendant combinator */
    display: flex;
    flex: 2.3;
    background-color: rgb(36, 46, 0);
    color: rgb(164, 164, 164);
    font-size: 70px;
    font-weight: bold;
}

.number {
    display: flex;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bold;
}

#clear {
    background-color: rgb(189, 236, 0);
}

#delete {
    background-color: rgb(153, 192, 0);
}

#multiply {
    background-color: rgb(122, 153, 0);
}

#divide {
    background-color: rgb(96, 120, 0);
}

#subtract {
    background-color: rgb(76, 95, 0);
}

#add {
    background-color: rgb(57, 72, 0);
}
